@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,700');

body {
    font-family: 'Roboto', sans-serif;
}

#calendar {
    padding: 100px 0px;
    position: relative;
}

.fc-toolbar.fc-header-toolbar {
    background-color: #C92227;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #fff;
    height: 110px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 10px 10px 0px 0px;
    font-size: 30px;
    margin-bottom: 0px;
}

.fc-today-button {
    display: none;
}

.fc-widget-header {
    background: #143953;
}



.fc-widget-header th {
    color: #fff;
    padding: 6px 0px;
    font-size: 16px;
    font-weight: 400;
}

td.fc-head-container.fc-widget-header {
    border-top: 0px;
    border-left: 1px solid #143953;
    border-right: 1px solid #143953;
}

.fc-prev-button.fc-button.fc-state-default.fc-corner-left {
    margin-left: 0;
    position: absolute;
    left: -10%;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.fc-next-button.fc-button.fc-state-default.fc-corner-right {
    position: absolute;
    right: -10%;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.fc-button.fc-state-default {
    background: none;
    border-radius: 50%;
    padding: 0;
    border-color: transparent !important;
}

.fc button .fc-icon {
    width: 100%;
    height: 100%;
    display: inline-block;
    margin: 0;
    vertical-align: text-bottom;
    padding: 0;
    top: -1px;
    left: 0px;
}

button.fc-button {
    outline: none;
}

.fc-event {
    border-radius: inherit;
    border: none;
}

.fc-event,
.fc-event-dot {
    background-color: inherit;
}

.fc-content {
    width: 100px;
}

.fc-day-grid-event .fc-content {
    white-space: initial;
    text-align: center;
}

.fc-day-grid-event {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

span.fc-title {
    background: transparent;

}

span.fc-title > span {

    display: inline-block;
    width: 100%;
}

span.fc-time {
    display: inline-block;
    width: 100%;
    color: #143852;
}

.fc-unthemed .fc-popover .fc-header {
    background: #fff;
}

td.fc-more-cell {
    text-align: center;
}

.fc-popover .fc-content {
    width: 100%;
    text-align: left;
    padding: 10px 0px;
}

.fc-popover span.fc-title > span {
    font-size: 16px;
    text-transform: uppercase;
}

.fc-popover span.fc-title > span {
    font-size: 16px;
    text-transform: uppercase;
}

.fc-popover .fc-header.fc-widget-header {
    display: none;
}

.fc-unthemed th,
.fc-unthemed td,
.fc-unthemed thead,
.fc-unthemed tbody,
.fc-unthemed .fc-divider,
.fc-unthemed .fc-row,
.fc-unthemed .fc-content,
.fc-unthemed .fc-popover,
.fc-unthemed .fc-list-view,
.fc-unthemed .fc-list-heading td {
    border-color: #CACCD0;
}

span.fc-day-number {
    padding-right: 5px !important;
    display: inline-block;
}

.fc-button.fc-state-default {
    border-color: #143852;
}

.fc-icon-left-single-arrow:after {
    color: #143852;
}

.fc-other-month {
    background: #F1F3F4;
}




.fc-713-info-line {
    margin: 0 !important;
    text-decoration: none;
}

.fc-left {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

td.fc-widget-content {
    border-width: 0px;
}

.fc-day-top.fc-other-month {
    border-bottom: 0px !important;
}

.fc-week:last-child .fc-bg > table {
    border: 1px solid;
}

@media only screen and (max-width: 1350px) {
    .container {
        max-width: 1000px;
    }
}

@media only screen and (max-width: 1136px) {
    .container {
        max-width: 840px;
    }
}

@media only screen and (max-width: 991px) {
    span.fc-title {
        font-size: 16px;
    }

    span.fc-title > span {
        font-size: 10px;
    }

}

@media only screen and (max-width: 768px) {
    .fc-scroller {
        overflow: visible !important;
        height: auto !important;
    }

    #calendar {
        padding: 80px 0px;
    }

}

@media only screen and (max-width: 600px) {
    span.fc-title {
        font-size: 12px;
    }

    span.fc-title > span {
        font-size: 9px;
    }

    .fc-prev-button.fc-button.fc-state-default.fc-corner-left {
        top: unset;
        bottom: 0px;
        left: 0%;
    }

    .fc-next-button.fc-button.fc-state-default.fc-corner-right {
        top: unset;
        bottom: 0px;
        left: unset;
        right: 0%;
    }
}

@media only screen and (max-width: 500px) {
    span.fc-title > span {
        display: none !important;
    }


    .fc button .fc-icon {
        width: 25px;
    }

    #calendar {
        padding: 50px 0px;
    }


}

@media only screen and (max-width: 380px) {
    .container {
        max-width: 350px;
    }

}

@media only screen and (max-width: 360px) {
    .container {
        max-width: 320px;
    }

}
